<ion-content>

  <div class="bg">
    <div class="row">
      <div class="col-sm">
        <div class="logo">
          <img src="../../assets/logo.png">
        </div>
      </div>
      <div class="col-sm-4 login">
        <ion-card>
          <ion-header class="header" >
            <ion-toolbar>
              <ion-title class="text-center">Faça seu login</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-card-content>

            <form id=formId (ngSubmit)="login()" #refForm="ngForm">
              <ion-item class="mb-2">
                <ion-label position="floating">Usuário</ion-label>
                <ion-input placeholder="Matrícula" name="matricula" [(ngModel)]="aluno.matric" required></ion-input>
              </ion-item>

              <ion-item class="mb-4">
                <ion-label position="floating">Senha</ion-label>
                <ion-input placeholder="CPF" type="password" name="cpf" [(ngModel)]="aluno.numcpf" required></ion-input>
              </ion-item>

              <ion-button class="mb-3" type="ngSubmit" expand="block" color="success" [disabled]="!refForm.valid">Entrar
              </ion-button>

            </form>


            <div class="alert alert-danger" role="alert" *ngIf="erroLogin">
                Ocorreu um erro! Por favor tente novamente. 
             </div>
   
             <div class="alert alert-warning" role="alert" *ngIf="erroAutenticacao"  >
                Login ou Senha incorretos! Favor verifique seus dados. 
             </div>

          </ion-card-content>

         

        </ion-card>
      </div>
    </div>

  </div>

  <div class="modal-backdrop fade show"></div>

</ion-content>