<ion-app>
  <ion-split-pane>
    
    <ion-menu  id="myMenu" *ngIf="exibirMenu" >
      <ion-header>
          <ion-toolbar color="primary">
              <img src="../assets/logo.png" class="logo" slot="start">  
              <ion-title>Portal do aluno</ion-title>
            </ion-toolbar>
                
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"  *ngFor="let p of appPages">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

            <ion-item routerLink="/" (click)="logOut()">
              <ion-icon slot="start" color="medium" name="power"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>

             
          </ion-menu-toggle>
        </ion-list>
      </ion-content>


      <!-- <ion-footer>
          <ion-button expand="block" color="danger">
            sair
          </ion-button>
      </ion-footer> -->


    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
